{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 100,
  "semi": false,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "svelteSortOrder": "scripts-options-markup-styles",
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true
}
